/*------------------------------------------
 * Color
 * ---------------------------------------*/
$primary-color: #006D77;
$color1: #ffffff;

/*------------------------------------------
 * Default
 * ---------------------------------------*/
* {
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
}

/*------------------------------------------
 * Typography
 * ---------------------------------------*/
h1 {
  text-align: center;
  margin: 0 0 30px;
  line-height: 1.2em;
  font-size: 32px;
}
h2 {
  text-align: center;
  margin: 0 0 30px;
  line-height: 1.2em;
  font-size: 28px;
}
p {
  font-size: 16px;
  line-height: 1.7em;
}
p:last-child {
  margin-bottom: 0;
}

/*------------------------------------------
 * Global
 * ---------------------------------------*/
.container {
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
}
.section__item {
  padding: 100px 25px;
}

/*------------------------------------------
 * Header
 * ---------------------------------------*/
.header {
  background-color: $primary-color;
  padding: 20px 25px;

  &__container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__logo {
    max-width: 90px;
  }
  &__navigation-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 40px;
  }
  &__navigation-menu a {
    color: $color1;
    text-decoration: none;
    display: block;
    font-size: 22px;
    transition: all 0.5s ease 0s;
  }
  &__menu-toggle,
  &__menu-toggle--close {
    display: none;
  }

  .menu-active a {
    text-decoration: underline;
    text-underline-offset: 10px;
  }
}

/*------------------------------------------
 * Footer
 * ---------------------------------------*/
.footer {
  background-color: $primary-color;
  padding: 40px 25px;

  &__container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
  }
  &__links {
    list-style: none;
    margin: 0 0 30px;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 30px;
  }
  &__links a {
    color: $color1;
    text-decoration: none;
    display: block;
    font-size: 18;
    transition: all 0.5s ease 0s;
  }
  &__copyright {
    color: $color1;
    text-align: center;
    margin: 0;
  }
}

/*------------------------------------------
 * Content
 * ---------------------------------------*/
#home {
  .mountain {
    margin: 0 auto;
    max-width: 735px;
  }
  .destinations {
    display: flex;
    gap: 30px;
  }
  .destinations img {
    margin-bottom: 20px;
  }
  .destinations h3 {
    text-align: center;
    margin: 0;
    font-weight: 400;
    line-height: 1.2em;
  }
  .testimonials_item {
    margin-bottom: 10px;
  }
  .testimonials__message {
    color: #000000;
    margin: 0 0 20px;
    text-align: center;
    line-height: 1.2em;
  }
  .testimonials__author {
    display: block;
    text-align: center;
    font-weight: 600;
    color: $primary-color;
  }
}

#about {
  .box {
    max-width: 890px;
    margin: 0 auto;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 8px;
    padding: 30px;

    & p,
    & h3 {
      text-align: center;
    }
  }
  #meet-our-team {
    & .box h3,
    & .box p {
      text-align: left;
    }
  }
}

#contact {
  p {
    text-align: center;
  }
  .contact-form {
    max-width: 600px;
    margin: 0 auto;
    width: 100%;

    &__group {
      margin-bottom: 10px;
    }
    &__input {
      width: 100%;
      border: 2px solid $primary-color;
      font-family: 'Poppins', sans-serif;
      padding: 10px;
      border-radius: 5px;
    }
    &__textarea {
      width: 100%;
      border: 2px solid $primary-color;
      font-family: 'Poppins', sans-serif;
      padding: 10px;
      border-radius: 5px;
      resize: none;
    }
    &__btn {
      border: 0 none;
      background-color: $primary-color;
      color: $color1;
      font-family: "Poppins", sans-serif;
      cursor: pointer;
      display: block;
      margin: 0 auto;
      padding: 10px 30px;
      border-radius: 5px;
      font-size: 16px;
      -webkit-transition: all 0.5s ease 0s;
      -moz-transition: all 0.5s ease 0s;
      transition: all 0.5s ease 0s;
    }
    &__btn:hover {
      background-color: #01383d;
    }
  }
  .socal-icons {
    list-style: none;
    margin: 40px 0 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 40px;

    & li a {
      display: flex;
      align-items: center;
      gap: 10px;
      color: $primary-color;
      text-decoration: none;
    }
  }
}

/*------------------------------------------
 * Mobile
 * ---------------------------------------*/
@media screen and (max-width: 768px) {
  .header {
    &__menu-toggle {
      display: block;
      border: 0 none;
      background: transparent;
      padding: 0;
      color: $color1;
      font-size: 30px;
    }
    &__menu-toggle--close {
      background: transparent;
      padding: 0;
      border: 0 none; 
      color: $primary-color;
      font-size: 30px;
      float: right;
    }
    &__navigation-container {
      opacity: 0;
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: $color1;
      padding: 40px;
      -webkit-transition: all 0.5s ease 0s;
      -moz-transition: all 0.5s ease 0s;
      transition: all 0.5s ease 0s;
      transform: translateX(100%);
      overflow: hidden;
    }
    &__navigation-container.nav-open {
      opacity: 1  ;
      transform: translateX(0);
    }
    &__navigation-menu {
      list-style: none;
      padding: 0;
      margin: 0;
      display: block;
      gap: 40px;
      clear: both;
    }
    &__navigation-menu a {
      color: $primary-color;
      text-align: center;
    }
    &__navigation-menu li {
      padding: 20px;
    }
  }

  .section__item {
    padding: 50px 25px;
  }

  #home .destinations {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 540px) {
  #contact .socal-icons {
    flex-wrap: wrap;
    gap: 20px;
  }
}